%h2 Help us create the first free RPG system
%p
  We want tools to create and share adventures.
  %br
  We want modern character sheets we can quickly level up.
  %br
  We want to use our creativity to invent a new campaign scenario.
  %br
  We want resources to make our quests even more complete and legendary.

= render 'form'