%h2= "Thanks for your support, #{@prospect.email}!"
%p 
  We're still under construction, but we'll let you know as soon as we can.
  %br
  We hope to keep in touch to make a great new and awesome RPG world!
